body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}

/* helper classes */
.vert {
    flex-direction: column;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo h1 {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: space-around;
}

.info-box {
    text-align: center;
}

.sketch-placeholder {
    border: 3px solid #3882F6;
    border-radius: 5px;
    width: 125px;
    height: 150px;
}

.signup {
    flex: 1;
}

.img-placeholder {
    background-color: gray;
    color: white;
    flex: 1;
}

.call-to-action {
    display: flex;
}